scenes/LAIG_TP1_XML_T6_G01_v02.xml
scenes/LAIG_TP1_XML_T6_G03_v02.xml
scenes/backup.xml
scenes/images/X_spaceship_hull.jpg
scenes/images/Y_spaceship_hull.jpg
scenes/images/cabin_door.jpg
scenes/images/cabin_floor.jpg
scenes/images/cabin_wall.jpg
scenes/images/carpet.jpg
scenes/images/cosmos.jpg
scenes/images/daisy.jpg
scenes/images/fireplace.jpg
scenes/images/futuristic_blue.png
scenes/images/futuristic_red.jpg
scenes/images/gift_wrap1.png
scenes/images/gift_wrap2.jpg
scenes/images/gift_wrap3.jpg
scenes/images/gift_wrap4.jpg
scenes/images/gold.jpg
scenes/images/gun_metal.png
scenes/images/ion_blast.jpg
scenes/images/loki.jpg
scenes/images/mars.jpg
scenes/images/missy.jpg
scenes/images/neon-sign.jpg
scenes/images/neptune.jpg
scenes/images/pine_leaves.jpg
scenes/images/red.jpg
scenes/images/red_ball.jpg
scenes/images/saturn_planet.jpg
scenes/images/saturn_ring.jpg
scenes/images/solar.jpg
scenes/images/space_rocks.jpg
scenes/images/starfield.jpg
scenes/images/stargate.png
scenes/images/steel.jpg
scenes/images/window_snow.jpg
scenes/images/xmas_cookie1.jpg
scenes/images/xmas_cookie2.jpg
scenes/images/xmas_plate.jpg

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store
